<div
    class="overflow-hidden rounded-xl border border-gray-200 bg-white 2xl:overflow-visible dark:border-gray-800 dark:bg-white/[0.03]"
>
    <div class="border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800">
        <div class="mb-6 grid grid-cols-1 gap-6 md:grid-cols-2">
            <!-- Organization ID -->
            <div>
                <label
                    class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
                >
                    Organization ID
                </label>
                <div
                    class="shadow-theme-xs rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 dark:border-gray-700 dark:text-white/90"
                >
                    {{ $organization->organization_id }}
                </div>
            </div>
            <!-- Organization Name -->
            <div>
                <label
                    class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
                >
                    Organization Name
                </label>
                <div
                    class="shadow-theme-xs rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 dark:border-gray-700 dark:text-white/90"
                >
                    {{ $organization->organization_name_english }}
                </div>
            </div>
        </div>
        <!-- Description Full Width -->
        <div class="mb-6">
            <label
                class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >
                Description
            </label>
            <div
                class="shadow-theme-xs min-h-[80px] rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 dark:border-gray-700 dark:text-white/90"
            >
                {{ $organization->description ?? '—' }}
            </div>
        </div>
    </div>

    <div class="max-w-full overflow-x-auto 2xl:overflow-hidden">
        <table class="w-full min-w-[970px]">
            <!-- table header start -->
            <thead>
                <tr class="border-b border-gray-100 dark:border-gray-800">
                    <th class="px-5 py-3 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-xs font-medium text-gray-500 dark:text-gray-400"
                            >
                                User
                            </p>
                        </div>
                    </th>
                    <th class="px-5 py-3 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-xs font-medium text-gray-500 dark:text-gray-400"
                            >
                                Project Name
                            </p>
                        </div>
                    </th>
                    <th class="px-5 py-3 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-xs font-medium text-gray-500 dark:text-gray-400"
                            >
                                Team
                            </p>
                        </div>
                    </th>
                    <th class="px-5 py-3 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-xs font-medium text-gray-500 dark:text-gray-400"
                            >
                                Status
                            </p>
                        </div>
                    </th>
                    <th class="px-5 py-3 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-xs font-medium text-gray-500 dark:text-gray-400"
                            >
                                Budget
                            </p>
                        </div>
                    </th>
                </tr>
            </thead>
            <!-- table header end -->
            <!-- table body start -->
            <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
                <tr>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex items-center gap-3">
                                <div
                                    class="h-10 w-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        src="./images/user/user-17.jpg"
                                        alt="brand"
                                    />
                                </div>

                                <div>
                                    <span
                                        class="text-theme-sm block font-medium text-gray-800 dark:text-white/90"
                                    >
                                        Lindsey Curtis
                                    </span>
                                    <span
                                        class="text-theme-xs block text-gray-500 dark:text-gray-400"
                                    >
                                        Web Designer
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                Agency Website
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex -space-x-2">
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-22.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-23.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-24.jpg"
                                        alt="user"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="bg-success-50 text-theme-xs text-success-700 dark:bg-success-500/15 dark:text-success-500 rounded-full px-2 py-0.5 font-medium"
                            >
                                Active
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                3.9K
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center justify-center">
                            <div x-data="{ open: false }" class="relative">
                                <button
                                    @click="open = !open"
                                    class="text-gray-500 focus:outline-none dark:text-gray-400"
                                    type="button"
                                    :aria-expanded="open"
                                    aria-haspopup="true"
                                >
                                    <svg
                                        class="fill-current"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M5.99902 10.245C6.96552 10.245 7.74902 11.0285 7.74902 11.995V12.005C7.74902 12.9715 6.96552 13.755 5.99902 13.755C5.03253 13.755 4.24902 12.9715 4.24902 12.005V11.995C4.24902 11.0285 5.03253 10.245 5.99902 10.245ZM17.999 10.245C18.9655 10.245 19.749 11.0285 19.749 11.995V12.005C19.749 12.9715 18.9655 13.755 17.999 13.755C17.0325 13.755 16.249 12.9715 16.249 12.005V11.995C16.249 11.0285 17.0325 10.245 17.999 10.245ZM13.749 11.995C13.749 11.0285 12.9655 10.245 11.999 10.245C11.0325 10.245 10.249 11.0285 10.249 11.995V12.005C10.249 12.9715 11.0325 13.755 11.999 13.755C12.9655 13.755 13.749 12.9715 13.749 12.005V11.995Z"
                                            fill=""
                                        ></path>
                                    </svg>
                                </button>
                                <div
                                    x-show="open"
                                    x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="transform opacity-0 scale-95"
                                    x-transition:enter-end="transform opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-75"
                                    x-transition:leave-start="transform opacity-100 scale-100"
                                    x-transition:leave-end="transform opacity-0 scale-95"
                                    @click.outside="open = false"
                                    class="shadow-theme-lg dark:bg-gray-dark absolute right-0 z-50 mt-2 w-40 space-y-1 rounded-2xl border border-gray-200 bg-white p-2 dark:border-gray-800"
                                    style="display: none"
                                    x-cloak
                                >
                                    <button
                                        class="text-theme-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
                                    >
                                        View More
                                    </button>
                                    <button
                                        class="flex w-full rounded-lg px-3 py-2 text-left text-xs font-medium text-gray-500 transition-colors hover:bg-red-50 hover:text-red-600"
                                    >
                                        <svg
                                            class="mr-2 h-4 w-4 text-red-400"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            viewBox="0 0 24 24"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M6 18L18 6M6 6l12 12"
                                            />
                                        </svg>
                                        <span class="text-red-500">Delete</span>
                                    </button>
                                    <button
                                        class="text-theme-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex items-center gap-3">
                                <div
                                    class="h-10 w-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        src="./images/user/user-18.jpg"
                                        alt="brand"
                                    />
                                </div>

                                <div>
                                    <span
                                        class="text-theme-sm block font-medium text-gray-800 dark:text-white/90"
                                    >
                                        Kaiya George
                                    </span>
                                    <span
                                        class="text-theme-xs block text-gray-500 dark:text-gray-400"
                                    >
                                        Project Manager
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                Technology
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex -space-x-2">
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-25.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-26.jpg"
                                        alt="user"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="bg-warning-50 text-theme-xs text-warning-700 dark:bg-warning-500/15 dark:text-warning-400 rounded-full px-2 py-0.5 font-medium"
                            >
                                Pending
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                24.9K
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="flex items-center justify-center">
                            <div x-data="{ open: false }" class="relative">
                                <button
                                    @click="open = !open"
                                    class="text-gray-500 focus:outline-none dark:text-gray-400"
                                    type="button"
                                    :aria-expanded="open"
                                    aria-haspopup="true"
                                >
                                    <svg
                                        class="fill-current"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M5.99902 10.245C6.96552 10.245 7.74902 11.0285 7.74902 11.995V12.005C7.74902 12.9715 6.96552 13.755 5.99902 13.755C5.03253 13.755 4.24902 12.9715 4.24902 12.005V11.995C4.24902 11.0285 5.03253 10.245 5.99902 10.245ZM17.999 10.245C18.9655 10.245 19.749 11.0285 19.749 11.995V12.005C19.749 12.9715 18.9655 13.755 17.999 13.755C17.0325 13.755 16.249 12.9715 16.249 12.005V11.995C16.249 11.0285 17.0325 10.245 17.999 10.245ZM13.749 11.995C13.749 11.0285 12.9655 10.245 11.999 10.245C11.0325 10.245 10.249 11.0285 10.249 11.995V12.005C10.249 12.9715 11.0325 13.755 11.999 13.755C12.9655 13.755 13.749 12.9715 13.749 12.005V11.995Z"
                                            fill=""
                                        ></path>
                                    </svg>
                                </button>
                                <div
                                    x-show="open"
                                    x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="transform opacity-0 scale-95"
                                    x-transition:enter-end="transform opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-75"
                                    x-transition:leave-start="transform opacity-100 scale-100"
                                    x-transition:leave-end="transform opacity-0 scale-95"
                                    @click.outside="open = false"
                                    class="shadow-theme-lg dark:bg-gray-dark absolute right-0 z-50 mt-2 w-40 space-y-1 rounded-2xl border border-gray-200 bg-white p-2 dark:border-gray-800"
                                    style="display: none"
                                    x-cloak
                                >
                                    <button
                                        class="text-theme-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
                                    >
                                        View More
                                    </button>
                                    <button
                                        class="text-theme-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex items-center gap-3">
                                <div
                                    class="h-10 w-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        src="./images/user/user-19.jpg"
                                        alt="brand"
                                    />
                                </div>

                                <div>
                                    <span
                                        class="text-theme-sm block font-medium text-gray-800 dark:text-white/90"
                                    >
                                        Zain Geidt
                                    </span>
                                    <span
                                        class="text-theme-xs block text-gray-500 dark:text-gray-400"
                                    >
                                        Content Writer
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                Blog Writing
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex -space-x-2">
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-27.jpg"
                                        alt="user"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="bg-success-50 text-theme-xs text-success-700 dark:bg-success-500/15 dark:text-success-500 rounded-full px-2 py-0.5 font-medium"
                            >
                                Active
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                12.7K
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex items-center gap-3">
                                <div
                                    class="h-10 w-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        src="./images/user/user-20.jpg"
                                        alt="brand"
                                    />
                                </div>

                                <div>
                                    <span
                                        class="text-theme-sm block font-medium text-gray-800 dark:text-white/90"
                                    >
                                        Abram Schleifer
                                    </span>
                                    <span
                                        class="text-theme-xs block text-gray-500 dark:text-gray-400"
                                    >
                                        Digital Marketer
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                Social Media
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex -space-x-2">
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-28.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-29.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-30.jpg"
                                        alt="user"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="bg-error-50 text-theme-xs text-error-700 dark:bg-error-500/15 dark:text-error-500 rounded-full px-2 py-0.5 font-medium"
                            >
                                Cancel
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                2.8K
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex items-center gap-3">
                                <div
                                    class="h-10 w-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        src="./images/user/user-21.jpg"
                                        alt="brand"
                                    />
                                </div>

                                <div>
                                    <span
                                        class="text-theme-sm block font-medium text-gray-800 dark:text-white/90"
                                    >
                                        Carla George
                                    </span>
                                    <span
                                        class="text-theme-xs block text-gray-500 dark:text-gray-400"
                                    >
                                        Front-end Developer
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                Website
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <div class="flex -space-x-2">
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-31.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-32.jpg"
                                        alt="user"
                                    />
                                </div>
                                <div
                                    class="h-6 w-6 overflow-hidden rounded-full border-2 border-white dark:border-gray-900"
                                >
                                    <img
                                        src="./images/user/user-33.jpg"
                                        alt="user"
                                    />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="bg-success-50 text-theme-xs text-success-700 dark:bg-success-500/15 dark:text-success-500 rounded-full px-2 py-0.5 font-medium"
                            >
                                Active
                            </p>
                        </div>
                    </td>
                    <td class="px-5 py-4 sm:px-6">
                        <div class="flex items-center">
                            <p
                                class="text-theme-sm text-gray-500 dark:text-gray-400"
                            >
                                4,5K
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
